doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title LD SQLite Todo

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Domine', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/styles/main.css')

  body
    .container.jumbotron.text-center

      .row.col-md-12.sign_up
        h2 Sign In
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='inputEmail') Email
            .col-sm-10
              input#inputEmail.form-control(type='email', placeholder='Email')
          .form-group
            label.col-sm-2.control-label(for='inputPassword') Password
            .col-sm-10
              input#inputPassword.form-control(type='password', placeholder='Password')
          .form-group
            .col-sm-12
              button.btn.btn-default(type='submit') Submit

      .row.col-md-12.sign_in
        h2 Create Account
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='firstName') First Name
            .col-sm-10
              input#firstName.form-control(type='name', placeholder='First Name')
          .form-group
            label.col-sm-2.control-label(for='lastName') Last Name
            .col-sm-10
              input#lastName.form-control(type='name', placeholder='Last Name')
          .form-group
            label.col-sm-2.control-label(for='createEmail') Email
            .col-sm-10
              input#createEmail.form-control(type='email', placeholder='Email')
          .form-group
            label.col-sm-2.control-label(for='createPassword') Password
            .col-sm-10
              input#createPassword.form-control(type='password', placeholder='Password')
          .form-group
            label.col-sm-2.control-label(for='createPassword') Confirm Password
            .col-sm-10
              input#createPassword.form-control(type='password', placeholder='Password')
          .form-group
            .col-sm-12
              button.btn.btn-default(type='submit') Submit



