doctype html
html(lang="en", ng-app="postgresTodos")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title LD PostgreSQL Todo

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Domine', rel='stylesheet', type='text/css')

  body(ng-controller="todoCtrl")
    .container
      nav.navbar
        ul.nav.navbar-nav.navbar-right
          li: a(href='#') These
          li: a(href='#') Don't
          li: a(href='#') Work
      .panel.panel-default.text-center
        .panel-heading
          h2 Enter Todo
        .panel-body.todo_form
          form
            .form-group
              label(for='todoForm')
                input.form-control#todoForm(type='text' placeholder='What do you need to do?' required)
            button.btn.btn-primary.btn-block(type='submit' ng-click="createTodo()") SUBMIT

      .panel.panel-default.text-center
        .panel-heading
          h2 Todo List
          ul
            li
              h3 {{ data.text }}

    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.js')
    script(src='/js/main.js')
