doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Overton Orators

    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Domine', rel='stylesheet', type='text/css')

  body
    .container.jumbotron
      h3= title

      h3 New Speaker
      form(action="/users/create", method="POST")
        input(type="text", name="username" placeholder=" Enter Name")
        input.btn.btn-primary(type="submit")

      h3 Available Speakers

      ul.list-group
      each user in users
        li.list-group-item: h4
          = user.username
          | &nbsp;
          | (
          a(href="/users/" + user.id + "/destroy") Delete User
          | )
        ul.list-group
          li.list-group-item
            | Create a new topic:
            form(action="/users/" + user.id + "/tasks/create", method="post")
              input(type="text", name="title")
              input.btn.btn-primary(type="submit")
          each task in user.Tasks
            li.list-group-item.text-center
              = task.title
              | &nbsp;
              | (
              a(href="/users/" + user.id + "/tasks/" + task.id + "/destroy") Delete
              | )

